/*.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
    z-index: 1500;
}*/



.cover-container {
    max-width: 640px;
}

.details-container {
    max-width: 640px;
}

.cover-title {
    font-size: 3rem;
    font-weight: bold;
}
@media (max-width: 768px) {
      .cover-title{
        font-size: 2rem;
    }
}

.nav-link {
    width: 100px;
    color: white;
    font-weight: bold;
}

/* ------------------------- Details ------------------------*/

.details-container {
   max-width: 900px;
}

.details {
    background-color: rgb(68, 80, 105);
}

.details-title {
    font-size: 3rem;
    font-weight: bold;
}
@media (max-width: 768px) {
      .details-title{
        font-size: 2rem;
    }
}

.details-subtitle {
}

@media (max-width: 768px) {
      .details-subtitle{
            text-align: center;
    }
}

.details-text {
    text-align: justify;

}

.lead {
    font-size: 1rem
}

.details-image1 {
    float: right;
    margin: 50px 0 20px 40px;
}
@media (max-width: 768px) {
      .details-image1 {
        float: none;
        text-align: center;
        margin: 30px auto;
    }
}

.details-image2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.image2 {
    width: 600px;
    height: 400px;
}
@media (max-width: 576px) {
      .image2 {
        transform: rotate(90deg); /* Use transform to rotate the image */
        margin: 50px 0 80px 0;
    }
}

.details-image3 {
    float: right;
    margin-left: 40px;
}
@media (max-width: 768px) {
      .details-image3 {
        float: none;
        text-align: center;
        margin: 30px auto;
    }
}

.details-image4 {
    float: right;
    margin-left: 40px;
}
@media (max-width: 768px) {
      .details-image4 {
        float: none;
        text-align: center;
        margin: 20px auto ;
    }
}

/*------------------------------- Translator ------------------------------*/

.translator-body::before {
      content: "";
      background-color: rgba(37, 43, 72);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      text-align: center;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      }

.header-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-row {
    text-align: center;
    justify-content: center;
    align-items: center;
    width:900px;
    background-color: rgba(37, 43, 100);
}

.translator-container {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title-row {
    text-align: center;
}

.title-text {
    font-size: 2.25rem;
    font-weight: bold;
}
@media (max-width: 768px) {
      .title-text {
        font-size: 1.5rem;
    }
}

.form {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-label {
    font-weight: bold;
}

.text-input {
    width: 90%;
    text-align: justify;
}

.output-label {
    font-weight: bold;
}

.code-output {
    width: 90%;
    text-align: justify;
}

.text-output {
    width: 90%;
    text-align: justify;
}


.line-middle {
    background-color: rgba(37, 43, 72);
}

.line {
    width: 10vw;
    border-top: 10px dotted white;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin: 25px auto;
}



/* ------------------------- Contact ---------------------*/

.contact {
    background-color: rgb(68, 80, 105);
}

.contact-title {
    font-size: 3rem;
    font-weight: bold;
}
@media (max-width: 768px) {
      .contact-title{
        font-size: 2rem;
    }
}

.contact-image-box {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact-image1 {
    color: white
    width: 200px;
    height: 200px;
    margin: 40px;
}
@media (max-width: 768px) {
      .contact-image1 {
        text-align: center;
        margin: 30px auto;
    }
}

.contact-text {
    text-align: center;
}
@media (max-width: 768px) {
      .contact-text1 {
        font-size: 1.25rem;
        text-align: justify;
    }
}

.contact-text h4 {
    text-align: center;
}
@media (max-width: 768px) {
      .contact-text h4 {
        font-size: 1.25rem;
        text-align: justify;
    }
}

.contact-text h3 {
    text-align: center;
}
@media (max-width: 768px) {
      .contact-text h3 {
        font-size: 1.25rem;
    }
}

.email {
    color: darkred;
    font-weight: bold;
    font-style: italic;
}


/* ------------------------ Footer ----------------------*/


.footer-area{
    background-color: rgba(37, 43, 100);
    width: 100%;
    padding: 10px;
}

.footer-text {
    margin: 0;
}
