{% import "bootstrap/wtf.html" as wtf%}

<!-- Page Head-->
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead img" style="background-image: url({{ url_for('static', filename='/assets/img/contact-bg.jpg') }})">
    <div class="container position-relative px-3 px-lg-3">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-10 col-xl-10">
                <div class="page-heading">
                    {% if msg_sent: %}
                        <h2>Your form has been successfully submitted!</h2>
                    {%else:%}
                        <h1>Contact Me</h1>
                    {%endif%}
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-10">
                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                <div class="my-5">
                {{ wtf.quick_form(form, novalidate=True) }}
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer-->
{% include 'footer.html' %}


