<!-- Page Head-->
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead img" style="background-image: url({{ url_for('static', filename='/assets/img/diamond_001.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blogs Mine</h1>
                    <span class="subheading">A Collection of Pearl Musings. <img src="{{ url_for('static', filename='/assets/img/smile.png') }}" height="30"> </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <!-- Post preview-->
            {% for post in posts%}

                <div class="post-preview">
                    <a href="{{ url_for('post_page', num=post.id) }}">
                        <h3 class="post-title">{{post.title}}:</h3>
                        <h4 class="post-subtitle">{{post.subtitle}}</h4>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">{{post.author}}</a>
                        on {{post.blog_date}}
                        {%if current_user.id == post.author_id%}
                        <a href="{{ url_for('delete_page', post_id=post.id) }}"> ✘ </a>
                        {%endif%}
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                   <p class=flashes>{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        {%if is_delete and post.id == post_id%}
                        <span style="color: red"> <em> {{is_delete}} (<a style="color: red" href="{{ url_for('delete_page', post_id=post.id, confirm=True) }}"><b>Yes</b></a>/<a style="color: red" href="{{ url_for('home') }}"><b>No</b></a>)</em></span>
                        {%endif%}
                    </p>
            {% endfor %}

<!--                    {%if is_delete:%}-->


<!--                    {%endif%}-->

                </div>
                <!-- Divider-->
                <hr class="my-4" />


            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>

<!-- Footer-->
{% include 'footer.html' %}


