{% import "bootstrap/wtf.html" as wtf%}

<!-- Page Head-->
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead img" style="background-image: url({{ url_for('static', filename='/assets/img/diamond_003.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-10 col-xl-10">
                <div class="page-heading">
                    {% if logged_in: %}
                    <h2>Hey {{name}}, you already logged in.</h2>
                    <h3>What do you want to do else?</h3>
                    {%else:%}
                    <h1>Log In</h1>
                    <span class="subheading"><b>Welcome back  </b><img src="{{ url_for('static', filename='/assets/img/smile.png') }}" height="30"></span>
                    <span class="subheading"><b>Input your login email and password below.</b></span>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-10 col-xl-8">
                <div class="my-5">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class=flashes><em>{{ message }}</em></p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {{ wtf.quick_form(lform, novalidate=True) }}
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer-->
{% include 'footer.html' %}
