{% import "bootstrap/wtf.html" as wtf%}

<!-- Page Head-->
{% include "header.html" %}

<style>
    .link{
        color: darkblue;
    }
</style>

<!-- Page Header-->
<header class="masthead img" style="background-image: url({{post.image_url}})">
    <div class="container position-relative px-4 px-lg-5" style="bottom:20px">'
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">
                <div class="post-heading">
                    <h2>{{post.title}}:</h2>
                    <h3 class="subheading">{{post.subtitle}}</h3>
                    <span class="meta">
                        Posted by:
                        <a href="#!">{{post.author}}, </a>
                        on  {{post.blog_date}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{post.body|safe}}</p>
<!--                <a class="link" target="_blank" href="{{post.link}}"><u>{{post.link_text}}</u></a>-->
            </div>
            {%if start_commenting:%}
                {{ ckeditor.load(pkg_type="standard") }}
                {{ ckeditor.config(name='comment_text') }}
                {{ wtf.quick_form(cform, novalidate=True, button_map={"submit": "primary"}) }}
            {%elif start_reply:%}
                {{ ckeditor.load(pkg_type="standard") }}
                {{ ckeditor.config(name='reply_text') }}
                {{ wtf.quick_form(rform, novalidate=True, button_map={"submit": "primary"}) }}
            {%elif logged_in:%}
                {%if post.author_id == current_user.id %}
                    <form method="POST" action="{{ url_for('edit_page', post_id=post.id) }}">
                        <button type="submit" class="btn btn-default view_post btn-primary btn-lg">Edit Post</button>
                    </form>
                    <form method="POST" action="{{ url_for('comment_page', post_id=post.id) }}">
                        <button type="submit" class="btn btn-default view_post btn-primary btn-lg">Add Comment</button>
                    </form>
                {%else:%}
                    <form method="POST" action="{{ url_for('comment_page', post_id=post.id) }}">
                        <button type="submit" class="btn btn-default view_post btn-primary btn-lg">Add Comment</button>
                    </form>
                {%endif%}
            {%endif%}
            <br>
            <br>
            <div class="col-lg-8 col-md-10 mx-auto comment">
                {%if comments:%}
                    <p style="color: blue; font-size: 1.25rem"><b>Comments:</b></p>
                    {%for comment in comments:%}
                        <div class="post-preview">
                            {%if comment['comment'].comment_author.profile_photo: %}
                            <img class="commenterImage" style="height: 25px" src="{{ comment['comment'].comment_author.profile_photo }}"/>
                            {%else:%}
                            <img class="commenterImage" src="{{ comment['comment'].comment_author.email | gravatar }}"/>
                            {%endif%}
                            <span style="color: blue; font-size: 1.25rem"><em>{{comment['comment'].comment_author.name}}:</em></span>
                            <span>{{comment['comment'].comment_text|safe}}</span><a style="color: blue" href="{{ url_for('reply_page', post_id=comment['comment'].parent_post.id, comment_id=comment['comment'].id) }}"><em><b>↩️</b></em></a>
                            {%if current_user.id == comment['comment'].comment_author.id%}
                            <a href="{{ url_for('delete_comment', comment_id=comment['comment'].id, post_id=comment['comment'].parent_post.id) }}"> ✘ </a>
                            {%endif%}
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <p class=flashes>{{ message }}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        {%if comment['replies']:%}
                            <div class="col-lg-8 col-md-10 mx-auto comment">
                                {%for reply in comment['replies']:%}
                                    <div class="post-preview">
                                        {%if reply.reply_author.profile_photo: %}
                                        <img class="commenterImage" style="height: 25px" src="{{ reply.reply_author.profile_photo }}"/>
                                        {%else:%}
                                        <img class="commenterImage" style="height: 25px" src="{{ reply.reply_author.email | gravatar }}"/>
                                        {%endif%}
                                        <span style="color: blue; font-size: 1.25rem"><em>{{reply.reply_author.name}}:</em></span>
                                        <span>{{reply.reply_text|safe}}</span>
                                        {%if current_user.id == reply.reply_author.id%}
                                        <a href="{{ url_for('delete_reply', reply_id=reply.id, post_id=reply.parent_comment.post_id) }}"> ✘ </a>
                                        {%endif%}
                                    </div>
                                {%endfor%}
                            </div>
                        {%endif%}
                        <br>
                    {%endfor%}
                {%endif%}
            </div>
                {%if is_edit:%}
                <span class="subheading" style="color: red"> {{is_edit}}</span>
                {%endif%}
        </div>
    </div>
</article>
<!-- Footer-->
{% include 'footer.html' %}

