{% import "bootstrap/wtf.html" as wtf%}

<!-- Page Head-->
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead img" style="background-image: url({{ url_for('static', filename='/assets/img/diamond_004.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-10 col-xl-10">
                <div class="page-heading">
                    {%if sent_msg:%}
                    <em>
                    <h2>Welcome {{name}}, you have just {{message}},</h2>
                    {% else: %}
                    <h2>Hey {{name}}, you already logged in,</h2>
                    {%endif%}
                    <h3>Select Your Diamond</h3>
                    </em>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-10 col-xl-10">
                <div class="my-5">
                    <form method="POST" action="{{ url_for('select_page') }}">
                        {{ xform.csrf_token }}
                        <div class="input-group">
                        {{ xform.select(class="form-control", id="select-field", style="max-width: 709px; max-height: 38px; padding: 6px 12px;") }}
                            <div>
                                <button type="submit" class="btn btn-default view_post btn-primary btn-lg">View Post</button>
                            </div>
                        </div>
                    </form>
                    <br>

                    <form method="POST" action="{{ url_for('select_page') }}">
                        {{ hform.csrf_token }}
                        <div class="input-group">
                            {{ hform.search(class="form-control", id="search-field", style="max-width: 709px; max-height: 38px; padding: 6px 12px;") }}
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default view_post btn-primary btn-lg" id="search-button" disabled>Search</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    {% if results and posts %}
                        <div id="search-results">
                            {% for post in posts %}
                                <div class="post-preview">
                                    <a href="{{ url_for('post_page', num=post.id) }}">
                                        <h5>{{post["title"]}}:</h5>
                                        <h6>{{post["subtitle"]}}</h6>
                                    </a>
                                    <p class="post-meta">
                                        Posted by
                                        <a href="#!">{{post["author"]}}</a>
                                        on {{post["date"]}}
                                    </p>
                                </div>
                                <!-- Divider-->
                                <hr class="my-4" />
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <p class=flashes>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                   {% endwith %}
                    <form method="POST" action="{{ url_for('blogging_page', username=username) }}">
                        <button type="submit" class="btn btn-default view_post btn-primary btn-lg">New Post</button>
                    </form>
                    <br>

                </div>
            </div>
        </div>
    </div>
</main>

<script>
    const searchField = document.getElementById('search-field');
    const searchButton = document.getElementById('search-button');
    const searchResults = document.getElementById('search-results');

    searchField.addEventListener('input', function() {
        searchButton.disabled = searchField.value.trim() === '';
        localStorage.setItem('searchFieldValue', searchField.value);
    });

    document.addEventListener('DOMContentLoaded', function() {
        searchField.value = localStorage.getItem('searchFieldValue') || '';
        searchButton.disabled = searchField.value.trim() === '';

        if (searchField.value.trim() === '') {
            searchResults.style.display = 'none';
        }
    });
</script>

<!-- Footer-->
{% include 'footer.html' %}
